// ---------------------   Header  --------------------- //


.header {
  max-width: 114rem;
  margin: 0 auto;
  margin-top: 16rem;
  text-align: center;
  position: relative;

  &__heading {
    font-size: 4rem;
    color: $color-grey;
    font-weight: 400;
  }

  &__subheading {
    color: $color-grey;
    margin-bottom: 4rem;
  }

  &__avatar {
    display: inline-block;
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    margin: 3rem 0;
  }

  &__design {
    width: 60%;
    display: inline-block;
  }
  
  &__social-text {
    color: $color-grey;
  }

  &__social-links {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
  }

  &__social-link {
    margin-top: 2rem;

    &:not(:last-child) {
      margin-right: 2rem;
    }
  }

  &__social-icon {
    width: 6rem;
    transition: all .2s ease-in-out;

    &:hover,
    &:active {
      transform: scale(1.2);
    }
  }
}


// ---------------------  Intro section  --------------------- //

.intro {
  height: 30rem;
  background-image: linear-gradient(to right bottom, $color-primary-light, $color-secondary-light);
  margin-top: -7rem;
  text-align: center;
  position: relative;
  z-index: -1;
  
  &__desc-box {
    width: 50%;
    position: absolute;
    left: 50%;
    right: 50%;
    top: 13rem;
    transform: translate(-50%, -50%);
  }

  &__desc {
    color: #fff;
    font-weight: 300;
    font-size: 3rem;

    &--extro {
      margin-top: 3rem;
      font-weight: 700;
    }
  }
}


// ---------------------  Skills section  --------------------- //

.skills {
  max-width: 114rem;
  margin: 0 auto;
  margin-top: -6rem;


  &__card-deck {
    border: 1px solid $color-grey;
    display: flex;    
    width: 90%;
    margin: auto;
    background-color: #fff;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .1);
    border-radius: 1rem;
    padding-bottom: 4rem;

    @media screen and (max-width: 800px) {
      flex-direction: column;
    }
  }

  &__card {
    flex-basis: 33.333333%;
    margin-top: 2rem;

    &:not(:last-child) {
      box-shadow: .3rem 0 0 rgba($color-grey, .1);
    }
    
    &__heading-box {
      text-align: center;
    }

    &__heading {
      margin: 3rem;
      font-weight: 700;
      color: $color-grey;
    }
  }

  &__list {
    width: 70%;
    margin: 0 auto;
    list-style: none;

    @media screen and (max-width: 800px) {
      width: 95%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
    }
  }
}

.skill {
  font-size: 2rem;
  padding: 2rem;
  display: flex;
  align-items: center;
}

.skill-img {
  margin-right: 1.5rem;
  width: 5rem;
  height: 5rem;
}

.blog-link a {
  text-decoration: none;
  color: $color-grey;

  &:hover {
    color: $color-secondary;
  }  
}




// ---------------------  Projects section  --------------------- //

.projects {
  max-width: 114rem;
  margin: 10rem auto 20rem auto;
  margin-top: -13rem;
  text-align: center;
  padding-top: 18rem;

  &__heading {
    margin: 6rem 0; 
    color: $color-grey;
    font-size: 3rem;
  }

  &__main-github-link {
    display: block;
    margin-top: 4rem;
    text-decoration: none;
    color: $color-secondary;

    &:hover,
    &:active {
      color: $color-primary;
    }
  }
}

.project {

  &__header {
    display: inline-block;
    margin-bottom: 2rem;
  }

  &__logo {
    width: 5.2rem;
    height: 4rem;
  }

  &__title {
    font-size: 1.8rem;
    font-weight: 500;
  }

  &__links {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  &__live-link,
  &__github-link {
    text-decoration: none;
    width: 40%;
    padding: .1rem 1rem;
    border-radius: 3px;
  }


  &__live-link {

    &--ps {
      color: $color-ps;
      border: 1px solid currentColor;

      &:hover,
      &:active {
        color: #fff;
        border: 1px solid $color-ps;
        background-color: $color-ps;
      }
    }

    &--ubg {
      color: $color-grey;
      border: 1px solid currentColor;

      &:hover,
      &:active {
        color: #fff;
        border: 1px solid $color-grey;
        background-color: $color-grey;
      }
    }

    &--fe {
      color: $color-fe;
      border: 1px solid currentColor;

      &:hover,
      &:active {
        color: #fff;
        border: 1px solid $color-fe;
        background-color: $color-fe;
      }
    }

    &--trotter {
      color: $color-trotter;
      border: 1px solid currentColor;

      &:hover,
      &:active {
        color: #fff;
        border: 1px solid $color-trotter;
        background-color: $color-trotter;
      }
    }

    &--mor {
      color: $color-mor;
      border: 1px solid currentColor;

      &:hover,
      &:active {
        color: #fff;
        border: 1px solid $color-mor;
        background-color: $color-mor;
      }
    }
  }

  &__github-link {
    color: #25282D;
    border: 1px solid currentColor;

    &:hover,
    &:active {
      color: #fff;
      border: 1px solid #25282D;
      background-color: #25282D;
    }
  }

  &__features {
    margin: 3rem 0 1rem 0;
  }

  &__features-link {
    text-decoration: none;
    border-radius: 3rem;
    padding: .5rem 3rem;
    outline: none;
    cursor: pointer;
    font-size: inherit;
    
    &--ubg {
      color: $color-grey;
      border: 1px solid currentColor;

      &:hover,
      &:active {
        color: #fff;
        border: 1px solid $color-grey;
        background-color: $color-grey;
      }
    }

    &--ps {
      color: $color-ps;
      border: 1px solid currentColor;

      &:hover,
      &:active {
        color: #fff;
        border: 1px solid $color-ps;
        background-color: $color-ps;
      }
    }

    &--fe {
      color: $color-fe;
      border: 1px solid currentColor;

      &:hover,
      &:active {
        color: #fff;
        border: 1px solid $color-fe;
        background-color: $color-fe;
      }
    }

    &--trotter {
      color: $color-trotter;
      border: 1px solid currentColor;

      &:hover,
      &:active {
        color: #fff;
        border: 1px solid $color-trotter;
        background-color: $color-trotter;
      }
    }

    &--mor {
      color: $color-mor;
      border: 1px solid currentColor;

      &:hover,
      &:active {
        color: #fff;
        border: 1px solid $color-mor;
        background-color: $color-mor;
      }
    }
  }
}

.patriotswap {

  &__title {
    color: $color-ps;
  }
}

.ubg {

  &__title {
    color: $color-grey;
  }
}

.fe {

  &__title {
    color: $color-fe;
  }
}

.gh {

  &__card {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__link {
    color: $color-secondary;

    &:hover,
    &:active {
      color: $color-primary;
    }
  }
  
}



// ---------------------  Education section  --------------------- //

.education {
  margin-top: 10rem;
  height: 30rem;
  padding: 1rem;
  background-image: linear-gradient(to right bottom, $color-primary-light, $color-secondary-light);
  text-align: center;
  
  &__desc-box {
    width: 70%;
    margin: 7rem auto;
  }

  &__heading {
    font-size: 3.5rem;
    color: #fff;
  }

  &__subheading {
    margin-top: 2rem;
    font-size: 3rem;
    font-weight: 300;
    color: #fff;
  }
  
  &__img--gmu {
    width: 10rem;
  }

  &__img--bloc {
    margin-top: 2.3rem;
    width: 10rem;
  }

  &__img--self-study {
    margin-top: 6rem;
    width: 8rem;
  }

  &__title {
    margin-top: 1.7rem;
    font-weight: 500;
    color: $color-grey;
    text-decoration: underline;
  }

  &__desc {
    list-style: none;
    font-size: 2rem;
    margin-bottom: 2rem;

    li {
      margin-top: 2rem;
    }
  }

  &__desc-link {
    color: $color-secondary;

    &:hover,
    &:active {
      color: $color-primary;
    }
  }
}


// ---------------------  Footer  --------------------- //

.footer {
  padding: 2rem;
  border-top: 1px solid $color-grey-light;

  &__copyright {
    color: $color-grey-light;
  }

  &__repo-link {
    text-decoration: none;
    font-size: 1.3rem;
    color: $color-primary;

    &:hover,
    &:active {
      text-decoration: underline;
    }
  }
}










































































































































































