.logo-box {
  margin-right: auto;
}

.logo {
  width: 6rem;
}

.nav {
  max-width: 114rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 3rem 0;
}

.nav__items{
  margin-right: 3rem;
}

.nav__item {
  display: inline-block;
  margin-right: 5rem;
  font-size: 2rem;
}

.nav__link {
  color: $color-primary;
  text-decoration: none;

  &:hover {
    color: $color-secondary-light;
  }
}



















































