// Colors

$color-primary: #5AB9EA;
$color-primary-light: #84CEEB;
$color-primary-dark: #5680E9;
$color-secondary: #8860D0;
$color-secondary-light: #C1C8E4;
$color-grey: #8c8c8c;
$color-grey-light: #d6d4d4;

// Project Colors

$color-ps: #00ad45;
$color-fe: #c3191e;
$color-trotter: #034E7D;
$color-mor: #7D1418;