<section class="education">
  <div class="education__desc-box">
    <h1 class="education__heading">Education</h1>
  </div>
  <div class="card-deck card-deck--education" id="education">
    <div class="card card--education">
      <%= image_tag("gmu.png", alt: "GMU logo", class: "education__img--gmu") %>
      <ul class="education__desc">
        <li>BS, Information Technology</li>
        <li>Concentration: Database Technology and Programming</li>
      </ul>
      
    </div>

    <div class="card card--education">
      <%= image_tag("bloc.png", alt: "Bloc logo", class: "education__img--bloc") %>
      <ul class="education__desc">
        <li>Coding Bootcamp</li>
        <li>Ruby on Rails Track</li>
        <li>
          <%= link_to "bloc.io", "https://www.bloc.io", target: "_blank", class: "education__desc-link" %>
        </li>
      </ul>
    </div>

    <div class="card card--education">
      <h3 class="education__title">Other</h3>
      <ul class="education__desc">
        <li>AS, Business Admin</li>
        <li>Lean Six Sigma Green Belt</li>
        <li>ASE Certified Technician</li>
      </ul>
    </div>
  </div>
  
  <div class="footer">
    <p class="footer__copyright">
      No copyright by Mark Merritt. Clone the repo
      <%= link_to "here", "https://github.com/marksmerritt/portfolio", class: "footer__repo-link", target: "_blank" %>.
    </p>
  </div>
</section>