<section class="education">
  <div class="education__desc-box">
    <h1 class="education__heading">My Education</h1>
    <p class="education__subheading">
      Striving to learn something new everyday  
    </p>
  </div>
  <div class="card-deck card-deck--education">
    <div class="card card--education">
      <%= image_tag("gmu.png", alt: "GMU logo", class: "education__img--gmu") %>
      <ul class="education__desc">
        <li>Bachelors of Science, IT</li>
        <li>DB Tech and Programming</li>
        <li><a href="https://catalog.gmu.edu/colleges-schools/engineering/information-sciences-technology/information-technology-bs/#dtp" class="education__link">See the Curriculum</a></li>
      </ul>
      
    </div>

    <div class="card card--education">
      <%= image_tag("bloc.png", alt: "Bloc logo", class: "education__img--bloc") %>
      <ul class="education__desc">
        <li>Coding Bootcamp Grad</li>
        <li>Ruby on Rails</li>
        <li><a href="https://www.bloc.io/" class="education__link">Bloc's website</a></li>
      </ul>
    </div>

    <div class="card card--education">
      <%= image_tag("self-study.jpg", alt: "Self Study logo", class: "education__img--self-study") %>
      <h3 class="education__title"></h3>
      <ul class="education__desc">
        <li><a href="#">My Reading List</a></li>
        <li><a href="#">My Online Course List</a></li>
        <li><a href="#">My Article List</a></li>
      </ul>
      <a href="#" class="education__link"></a>
    </div>
  </div>
</section>