<section class="header">
  <h1 class="header__heading">Hi, I'm Mark Merritt.</h1>
  <div class="header__avatar-box">
    <%= image_tag("header/avatar.png", alt: "Mark Merritt photo", class: "header__avatar") %>
  </div>
  <h3 class="header__subheading">A Ruby on Rails (Full-Stack) Developer.</h3>
  <%= image_tag("header-graphic.png", alt: "Web Development Design", class: "header__design") %>
</section>