<section class="intro">
  <div class="intro__desc-box">
    <p class="intro__desc">
      I have a passion for building robust and maintable web applications that people love to use.
      <p class="intro__desc intro__desc--extro">Here are some of my skills...</p>
    </p>
  </div>
</section>