<section class="projects" id="projects">
  <h2 class="projects__heading">Recent Work</h2>
  <div class="card-deck card-deck--projects">
    <div class="card card--project">
      <h3 class="projects__title">United Masonry</h3>
    </div>
    <div class="card card--project">
      <h3 class="projects__title">PatriotSwap</h3>
    </div>
    <div class="card card--project">
      <h3 class="projects__title">MasonOnRails</h3>
    </div>
  </div>
  <div class="card-deck card-deck--projects">
    <div class="card card--project">
      <h3 class="projects__title">FairfaxGrub</h3>
    </div>
    <div class="card card--project">
      <h3 class="projects__title">RunningLog</h3>
    </div>
    <div class="card card--project">
      <h3 class="projects__title">StudyCram</h3>
    </div>
  </div>
  <button class="btn btn--projects">
     See All of My Projects
  </button>
</section>