<nav class="nav">
  <div class="logo-box">
    <a href="#top" class="scroll">
      <%= image_tag("logo.png", alt: "Mark Merritt logo", class: "logo") %>
    </a>
  </div>
  <ul class="nav__items">
    <li class="nav__item">
      <a href="#skills" class="nav__link scroll">Skills</a>
    </li>
    <li class="nav__item">
      <a href="#projects" class="nav__link scroll">Projects</a>
    </li>
    <li class="nav__item">
      <a href="#education" class="nav__link scroll">Education</a>
    </li>
    <li class="nav__item">
      <%= link_to "Resume", asset_path("merritt_resume.pdf"), class: "nav__link", target: "_blank" %>
    </li>
  </ul>
  <button class="btn btn--contact modalable-link modalable-link--1" id="contact-btn">Contact Me</button>
</nav>

