<nav class="nav">
  <div class="logo-box">
    <%= image_tag("logo.png", alt: "Mark Merritt logo", class: "logo") %>
  </div>
  <ul class="nav__items">
    <li class="nav__item">
      <a href="#skills" class="nav__link scroll">Skills</a>
    </li>
    <li class="nav__item">
      <a href="#projects" class="nav__link scroll">Projects</a>
    </li>
    <li class="nav__item">
      <a href="#education" class="nav__link scroll">Education</a>
    </li>
    <li class="nav__item">
      <a href="#resume" class="nav__link">Resume</a>
    </li>
  </ul>
  <button class="btn btn--contact">Contact Me</button>
</nav>