<nav class="nav">
  <div class="logo-box">
    <a href="#top" class="scroll">
      <%= image_tag("logo.png", alt: "Mark Merritt logo", class: "logo") %>
    </a>
  </div>
  <ul class="nav__items">
    <li class="nav__item">
      <a href="#skills" class="nav__link scroll">Skills</a>
    </li>
    <li class="nav__item">
      <a href="#projects" class="nav__link scroll">Projects</a>
    </li>
    <li class="nav__item">
      <a href="#education" class="nav__link scroll">Education</a>
    </li>
    <li class="nav__item">
      <a href="#resume" class="nav__link">Resume</a>
    </li>
  </ul>
  <button class="btn btn--contact" id="contact-btn">Contact Me</button>
</nav>