.btn {
  display: inline-block;
  text-decoration: none;
  outline: none;
  font-size: 1.8rem;
  border-radius: 5rem;

  &--contact {
    padding: 1rem 2rem;
    color: $color-primary;
    border: 2px solid $color-primary;
    margin: .6rem .4rem;

    &:hover {
      color: $color-secondary-light;
      border-color: currentColor;
      cursor: pointer;
    }
  }

  &--projects {
    margin-top: 4rem; 
    padding: 1.5rem 8rem;
    background-color: transparent;
    color: $color-primary-dark;
    border: none;

    &:hover {
      color: $color-secondary;
      cursor: pointer;
    }
  }
}