.btn {
  display: inline-block;
  text-decoration: none;
  outline: none;
  font-size: 1.8rem;
  border-radius: 5rem;

  &--contact {
    padding: .7rem 1.7rem;
    color: #fff;
    background-color: $color-primary;
    border: 2px solid $color-primary;
    margin: .6rem .4rem;
    font-size: 1.5rem;
    transition: all .2s;

    &:hover {
      transform: scale(1.1);
      cursor: pointer;
    }
  }

  &--projects {
    margin-top: 4rem; 
    padding: 1.5rem 8rem;
    background-color: transparent;
    color: $color-primary-dark;
    border: none;

    &:hover {
      color: $color-secondary;
      cursor: pointer;
    }
  }
}