.card-deck {
  display: flex;
  justify-content: space-between;
  height: 20rem;
  margin: 3rem auto;
  text-align: center;

  &--education {
    max-width: 114rem;
    margin-bottom: 50rem;
  }
}

.card {
  position: relative;
  border: 1px solid $color-grey;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, .1);

  &--project {
    flex: 0 0 30%;
    background-color: #fff;
    border-radius: 2rem;
  }

  &--education {
    flex: 0 0 30%;
    background-color: #fff;
    height: 40rem;
    border-radius: 1rem;
    padding: 3rem;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .1);
  }
}